 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  // background: #fafafa;
  background-image: url(../images/notebook/notebook_@2X.png);
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: monospace;
  color: #333;
}

.hero-unit {
  // background-image: url(../images/flamingo.jpg);
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

h2 {

}

.todoCont {
  border-bottom: 1px solid grey;
  background-color: grey;
}

.todoItem {
  display: inline;
}

.remItemCont {
  float:right;
}

.remItem {
  display: inline;
  border: 1px dashed red;
  border-style: outset;
  background-color: red;
  // float:right;
}

.strikethrough {
  text-decoration: line-through;
}

